$margin-sides: 20px;
$margin-topdown: 20px;
$margin-extra: 50px;
$margin-main: 10%;
$margin-topbottom: 20px;
$margin-contact: 50px;

$bg-color: rgb(36, 36, 36);
$notes-color: grey;

$transit: .2s all ease-in-out;

$link-size: 16px;
$notes-size: 14px;
$form-height: 30px;
$form-project: 100px;